{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit - {{ name }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <main class="form-flex">
      <div>
        <h1>Are you sure?</h1>
        <form method="post">
          {% csrf_token %}
          <button type="delete">Delete</button>
        </form>
      </div>
    </main>
  </body>
</html>
