{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo.name }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>
    <main>
      <div class="grid-layout">

      <div class="links">
        <h1>{{ todo.name }}</h1>
        <p class="link">
          <a href="{% url 'todo_list_list' %}">Back</a>
        </p>
        <p class="link">
          <a href="{% url 'todo_list_update' todo.id %}">Edit</a>
        </p>
        <p class="link" id="delete">
          <a href="{% url 'todo_list_delete' todo.id %}">Delete</a>
        </p>
      </div>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due date</th>
          </tr>
        </thead>
        <tbody>
          {% for item in todo.items.all %}
            <tr>
              <td>
                <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
              </td>
              <td>{{ item.due_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </main>
  </body>
</html>
