.link {
    background-color: rgba(0, 255, 0, 1);
    color: white;
    padding: 20px;
    border-radius: 12px;
    border: black solid 1px;
}
#delete {
    background-color: rgba(255, 0, 0, 1);
}
.grid-layout {
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.links {
    display:flex;
    align-items: center;
    justify-content: space-around;
}
table {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
thead {
    display:flex;
    align-items: center;
}
th {
    text-align: center;

}
td {
    text-align: center;
}
.form-flex {
    display:flex;
    align-items: center;
    justify-content: space-around;
}